#post-form {
  background-color: #f6f3f3;
  height: wrap-content;
  padding: 1rem 1rem;

  .image-upload {
    margin-top: 20px;

    label:hover {
      cursor: pointer;
    }

    input {
      display: none;
    }
  }

  #submit {
    height: 35px;
    width: 100px;
    font-weight: bold;
    margin-top: 10px;
  }
}